@charset "utf-8";

body {
    background-color: #a8e2da;
    background-image: url(pngegg.png);
    background-repeat: no-repeat;
    background-position: top center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
}

#resistores3 {
    align-items: center;

}